

.jumbotron {
  margin-bottom: 0%;
  background-image: url("../public/images/muralpainting.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-header {
  background-color: #fff;
  padding: 40px;
  width: 400px;
  border-top: solid 15px #197CA3;
  margin-left: 100px;
}

.btn-green {
  background-color: #6CC15A;
  border: none;
}

.btn-green:hover {
  background-color: rgb(138, 218, 123);
  border: none;
}

.btn-orange {
  background-color: #f78f1e;
  border: none;
}

.btn-orange:hover {
  background-color: rgb(245, 165, 79);
  border: none;
}

.btn-orange:visited {
  background-color: rgb(245, 165, 79);
  border: none;
}

.btn-orange:active {
  background-color: rgb(245, 165, 79);
  border: none;
}

.btn-orange:focus {
  background-color: rgb(245, 165, 79);
  border: none;
}

.navbar > .container {
  margin: 0;
}

nav a {
  color: #979797;
} 

footer {
  padding: 5% 10%;
  background-color: #eee;
}

footer a {
  color: #979797;
  font-size: .90rem;
}

footer h4 {
  font-size: 1.20rem;
}

footer a:hover {
  color: #252525;
}


/* nav {
  background-color: #fff;
} */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(151, 151, 151)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.contact-div,
.about-div,
.calender-div,
.artistportal-div,
.home-div,
.unit-div {
  padding: 50px;
}

.ul-about {
  background-color: #f7f7f7;
  padding: 20px;
}

label {
  color: #197CA3;
  font-weight: bold;
  padding: 5px;
}

.bg-ltgrey {
  background-color: #f7f7f7;
}

.card-link {
  text-decoration: none;
  color: #000
}

a:hover {
  text-decoration: none;
  color: #5C5C5C;
}

/* FONTS */

h1 {
  color: #197CA3;
}

h2 {
  text-transform: uppercase;
  color: #F78F1E;
}

.h2-card {
  padding: 3% 0 3% 3%;
  text-align: center
}

h5,
h3 {
  color: #6CC15A;
}

h4 {
  color: #000;
}

.h2-date {
  color: #197CA3;
  font-weight: bold;
}

/* Portals */

.portal-nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.portal-nav-link:hover {
  color: #fff;
}

.art-portal-link {
  background-color: #197CA3;
  color: #fff;
}

.org-portal-link {
  width: 100%;
  background-color: #308fb4;
  color: #fff;
}

.art-portal-link:hover,
.org-portal-link:hover {
  background-color: #146686;
  color: #fff;
}

/* Cards */

.featured-card {
  background-color: #146686;;
}

/* Units */

.unit-name {
  padding-bottom: 2%;
  text-align: center;
}


/*Home page Portals */

.portal-div {
  max-width: 100%;
}

.portals {
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.377));
}

.portal-nav {
  margin: 15px auto;
}

.portal-nav-link {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.portal-nav-link:hover {
  color: #fff;
}

.art-portal-link {
  background-color: #197CA3;
  color: #fff;
}

.org-portal-link {
  padding: 0;
  background-color: #308fb4;
  color: #fff;
}

.art-portal-link:hover,
.org-portal-link:hover {
  background-color: #146686;
  color: #fff;
}


/* Fixes */

