
.jumbotron {
  margin-bottom: 0%;
  background-image: url("../public/images/muralpainting.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-header {
  background-color: #fff;
  padding: 40px;
  width: 400px;
  border-top: solid 15px #197CA3;
  margin-left: 100px;
}

.btn-green {
  background-color: #6CC15A;
  border: none;
}


.navbar > .container {
  margin: 0;
}

nav a {
  color: #979797;
} 

footer {
  padding: 5% 10%;
  background-color: #eee;
}

footer a {
  color: #979797;
  font-size: .90rem;
}

footer h4 {
  font-size: 1.20rem;
}

footer a:hover {
  color: #252525;
}

nav {
  background-color: #fff;
}

.contact-div,
.about-div {
  padding: 25px;
}

.ul-about {
  background-color: #f7f7f7;
  padding: 20px;
}


/* FONTS */

h2 {
  text-transform: uppercase;
  color: #F78F1E;
}

h4 {
  color: #000;
}